In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [7]:
data = pd.read_csv('auto-mpg.data.csv')

In [8]:
data # Validating data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,carname
0,18.0,8,307.0,130,3504,12.0,70,"1\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165,3693,11.5,70,"1\t""buick skylark 320"""
2,18.0,8,318.0,150,3436,11.0,70,"1\t""plymouth satellite"""
3,16.0,8,304.0,150,3433,12.0,70,"1\t""amc rebel sst"""
4,17.0,8,302.0,140,3449,10.5,70,"1\t""ford torino"""
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,"1\t""ford mustang gl"""
394,44.0,4,97.0,52,2130,24.6,82,"2\t""vw pickup"""
395,32.0,4,135.0,84,2295,11.6,82,"1\t""dodge rampage"""
396,28.0,4,120.0,79,2625,18.6,82,"1\t""ford ranger"""
397,31.0,4,119.0,82,2720,19.4,82,"1\t""chevy s-10"""

In [68]:
# Using the scheme of Xb = y
X = data.drop(['mpg', 'carname'], axis = 1).to_numpy() 
X = np.insert(X, 0, np.ones(X.shape[0]), axis = 1) # inserting 1s to account for the slope intercept
y = data.iloc[:, 0].to_numpy() # dependent set

In [69]:
X

array([[1.000e+00, 8.000e+00, 3.070e+02, ..., 3.504e+03, 1.200e+01,
        7.000e+01],
       [1.000e+00, 8.000e+00, 3.500e+02, ..., 3.693e+03, 1.150e+01,
        7.000e+01],
       [1.000e+00, 8.000e+00, 3.180e+02, ..., 3.436e+03, 1.100e+01,
        7.000e+01],
       ...,
       [1.000e+00, 4.000e+00, 1.350e+02, ..., 2.295e+03, 1.160e+01,
        8.200e+01],
       [1.000e+00, 4.000e+00, 1.200e+02, ..., 2.625e+03, 1.860e+01,
        8.200e+01],
       [1.000e+00, 4.000e+00, 1.190e+02, ..., 2.720e+03, 1.940e+01,
        8.200e+01]])

In [70]:
y

array([18. , 15. , 18. , 16. , 17. , 15. , 14. , 14. , 14. , 15. , 15. ,
       14. , 15. , 14. , 24. , 22. , 18. , 21. , 27. , 26. , 25. , 24. ,
       25. , 26. , 21. , 10. , 10. , 11. ,  9. , 27. , 28. , 25. , 25. ,
       19. , 16. , 17. , 19. , 18. , 14. , 14. , 14. , 14. , 12. , 13. ,
       13. , 18. , 22. , 19. , 18. , 23. , 28. , 30. , 30. , 31. , 35. ,
       27. , 26. , 24. , 25. , 23. , 20. , 21. , 13. , 14. , 15. , 14. ,
       17. , 11. , 13. , 12. , 13. , 19. , 15. , 13. , 13. , 14. , 18. ,
       22. , 21. , 26. , 22. , 28. , 23. , 28. , 27. , 13. , 14. , 13. ,
       14. , 15. , 12. , 13. , 13. , 14. , 13. , 12. , 13. , 18. , 16. ,
       18. , 18. , 23. , 26. , 11. , 12. , 13. , 12. , 18. , 20. , 21. ,
       22. , 18. , 19. , 21. , 26. , 15. , 16. , 29. , 24. , 20. , 19. ,
       15. , 24. , 20. , 11. , 20. , 21. , 19. , 15. , 31. , 26. , 32. ,
       25. , 16. , 16. , 18. , 16. , 13. , 14. , 14. , 14. , 29. , 26. ,
       26. , 31. , 32. , 28. , 24. , 26. , 24. , 26. , 31. , 19. , 18. ,
       15. , 15. , 16. , 15. , 16. , 14. , 17. , 16. , 15. , 18. , 21. ,
       20. , 13. , 29. , 23. , 20. , 23. , 24. , 25. , 24. , 18. , 29. ,
       19. , 23. , 23. , 22. , 25. , 33. , 28. , 25. , 25. , 26. , 27. ,
       17.5, 16. , 15.5, 14.5, 22. , 22. , 24. , 22.5, 29. , 24.5, 29. ,
       33. , 20. , 18. , 18.5, 17.5, 29.5, 32. , 28. , 26.5, 20. , 13. ,
       19. , 19. , 16.5, 16.5, 13. , 13. , 13. , 31.5, 30. , 36. , 25.5,
       33.5, 17.5, 17. , 15.5, 15. , 17.5, 20.5, 19. , 18.5, 16. , 15.5,
       15.5, 16. , 29. , 24.5, 26. , 25.5, 30.5, 33.5, 30. , 30.5, 22. ,
       21.5, 21.5, 43.1, 36.1, 32.8, 39.4, 36.1, 19.9, 19.4, 20.2, 19.2,
       20.5, 20.2, 25.1, 20.5, 19.4, 20.6, 20.8, 18.6, 18.1, 19.2, 17.7,
       18.1, 17.5, 30. , 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3,
       17. , 21.6, 16.2, 31.5, 29.5, 21.5, 19.8, 22.3, 20.2, 20.6, 17. ,
       17.6, 16.5, 18.2, 16.9, 15.5, 19.2, 18.5, 31.9, 34.1, 35.7, 27.4,
       25.4, 23. , 27.2, 23.9, 34.2, 34.5, 31.8, 37.3, 28.4, 28.8, 26.8,
       33.5, 41.5, 38.1, 32.1, 37.2, 28. , 26.4, 24.3, 19.1, 34.3, 29.8,
       31.3, 37. , 32.2, 46.6, 27.9, 40.8, 44.3, 43.4, 36.4, 30. , 44.6,
       40.9, 33.8, 29.8, 32.7, 23.7, 35. , 23.6, 32.4, 27.2, 26.6, 25.8,
       23.5, 30. , 39.1, 39. , 35.1, 32.3, 37. , 37.7, 34.1, 34.7, 34.4,
       29.9, 33. , 34.5, 33.7, 32.4, 32.9, 31.6, 28.1, 30.7, 25.4, 24.2,
       22.4, 26.6, 20.2, 17.6, 28. , 27. , 34. , 31. , 29. , 27. , 24. ,
       23. , 36. , 37. , 31. , 38. , 36. , 36. , 36. , 34. , 38. , 32. ,
       38. , 25. , 38. , 26. , 22. , 32. , 36. , 27. , 27. , 44. , 32. ,
       28. , 31. ])

In [92]:
# Need to create K-Folds
K = 10

# Evenly partition the both y and X into 10 partitions
np.random.seed(X.shape[0])
indices = np.random.permutation(X.shape[0]) # Randomizing indices to shuffle rows
print(indices)

[173  81  28 149 234 181 210 306 332 395  43 171 123  87 186 144 243  97
  48 334 369 328 266   8 286  98  71 325  23 341 359 276 280 230  85 168
  30   6 311 111 257 175 127 302  80 295 141 387 337  26 226 348 131  31
 391 293 107 324  59 184 245 104 176 333  34 335 313 331 166 222 146 198
  54 237 138 216 296 194 269 373 157 124 118  50  84 250 221 255  44 347
 389  77 203  14 388 356  16 148  36 119 103 218 154   0 264 253 349 288
 142 231 190 319  56 174 256 344 364 110  55 136  62 208 375  20 273 214
  46 165 120 241 224 354  19   3 129  91 343  45 270 294 362  94  70  90
  86 244 152  49 114  99  92 262 316 345 180 281 140 381 368 272 350 300
 105 161 378 162 125 367  42  15 109 309 342 151 275 301  63  24 263 252
 258 303   1 205  37  78 249   5 132 363 383   7 172 260  96  25 312 188
 113 159   4 307 279 317 238 285 191 200 259 147 115  95 396  66  75 323
 305 101  13 357 153  61 351 164 261  69  33 121 233 374 267  89 380 376
 100 211 299 390 195 366 327 352 134 339  21 283  76 167  74  47 185 242
 322  41 240 169 155  79 137 215 133 287 213  64 135 254 346  12 130 393
 277  52 386  72   9 298 290 209  22 291 278 247 160 271 128  73  35 193
 117 227 239 206  51 340 156  82 304 197 139 251  93 315 361 329 292 143
 177 102 235 385 320 248 183 122 371 187 353  39 223  40  11 150  67 308
  10  83 360 284 207 112 163 384 268  60 314 201 225 358 265 326 212 228
 397 289 108 365 229 219  57 392 202 377 220  38 355 379 196 372 310 204
 336 297 217 382  58 236 178 145  88  53 274 321 179   2 246 199 394 170
 318  65 116 158 232 192 370  27 330  32 182  68  18 282 106 338 189  29
  17 126]

In [96]:
# Split into groups of 10
indices = np.array_split(indices, K)

In [97]:
print(indices)

[array([173,  81,  28, 149, 234, 181, 210, 306, 332, 395,  43, 171, 123,
        87, 186, 144, 243,  97,  48, 334, 369, 328, 266,   8, 286,  98,
        71, 325,  23, 341, 359, 276, 280, 230,  85, 168,  30,   6, 311,
       111]), array([257, 175, 127, 302,  80, 295, 141, 387, 337,  26, 226, 348, 131,
        31, 391, 293, 107, 324,  59, 184, 245, 104, 176, 333,  34, 335,
       313, 331, 166, 222, 146, 198,  54, 237, 138, 216, 296, 194, 269,
       373]), array([157, 124, 118,  50,  84, 250, 221, 255,  44, 347, 389,  77, 203,
        14, 388, 356,  16, 148,  36, 119, 103, 218, 154,   0, 264, 253,
       349, 288, 142, 231, 190, 319,  56, 174, 256, 344, 364, 110,  55,
       136]), array([ 62, 208, 375,  20, 273, 214,  46, 165, 120, 241, 224, 354,  19,
         3, 129,  91, 343,  45, 270, 294, 362,  94,  70,  90,  86, 244,
       152,  49, 114,  99,  92, 262, 316, 345, 180, 281, 140, 381, 368,
       272]), array([350, 300, 105, 161, 378, 162, 125, 367,  42,  15, 109, 309, 342,
       151, 275, 301,  63,  24, 263, 252, 258, 303,   1, 205,  37,  78,
       249,   5, 132, 363, 383,   7, 172, 260,  96,  25, 312, 188, 113,
       159]), array([  4, 307, 279, 317, 238, 285, 191, 200, 259, 147, 115,  95, 396,
        66,  75, 323, 305, 101,  13, 357, 153,  61, 351, 164, 261,  69,
        33, 121, 233, 374, 267,  89, 380, 376, 100, 211, 299, 390, 195,
       366]), array([327, 352, 134, 339,  21, 283,  76, 167,  74,  47, 185, 242, 322,
        41, 240, 169, 155,  79, 137, 215, 133, 287, 213,  64, 135, 254,
       346,  12, 130, 393, 277,  52, 386,  72,   9, 298, 290, 209,  22,
       291]), array([278, 247, 160, 271, 128,  73,  35, 193, 117, 227, 239, 206,  51,
       340, 156,  82, 304, 197, 139, 251,  93, 315, 361, 329, 292, 143,
       177, 102, 235, 385, 320, 248, 183, 122, 371, 187, 353,  39, 223,
        40]), array([ 11, 150,  67, 308,  10,  83, 360, 284, 207, 112, 163, 384, 268,
        60, 314, 201, 225, 358, 265, 326, 212, 228, 397, 289, 108, 365,
       229, 219,  57, 392, 202, 377, 220,  38, 355, 379, 196, 372, 310]), array([204, 336, 297, 217, 382,  58, 236, 178, 145,  88,  53, 274, 321,
       179,   2, 246, 199, 394, 170, 318,  65, 116, 158, 232, 192, 370,
        27, 330,  32, 182,  68,  18, 282, 106, 338, 189,  29,  17, 126])]

In [120]:
print(X[indices[0]])

[[1.000e+00 4.000e+00 1.190e+02 9.700e+01 2.545e+03 1.700e+01 7.500e+01]
 [1.000e+00 4.000e+00 9.700e+01 9.200e+01 2.288e+03 1.700e+01 7.200e+01]
 [1.000e+00 8.000e+00 3.040e+02 1.930e+02 4.732e+03 1.850e+01 7.000e+01]
 [1.000e+00 4.000e+00 1.200e+02 9.700e+01 2.489e+03 1.500e+01 7.400e+01]
 [1.000e+00 4.000e+00 1.510e+02 8.800e+01 2.740e+03 1.600e+01 7.700e+01]
 [1.000e+00 4.000e+00 9.100e+01 5.300e+01 1.795e+03 1.750e+01 7.500e+01]
 [1.000e+00 6.000e+00 1.560e+02 1.080e+02 2.930e+03 1.550e+01 7.600e+01]
 [1.000e+00 6.000e+00 1.730e+02 1.150e+02 2.595e+03 1.130e+01 7.900e+01]
 [1.000e+00 4.000e+00 8.900e+01 6.200e+01 1.845e+03 1.530e+01 8.000e+01]
 [1.000e+00 4.000e+00 1.350e+02 8.400e+01 2.295e+03 1.160e+01 8.200e+01]
 [1.000e+00 8.000e+00 4.000e+02 1.700e+02 4.746e+03 1.200e+01 7.100e+01]
 [1.000e+00 4.000e+00 1.340e+02 9.600e+01 2.702e+03 1.350e+01 7.500e+01]
 [1.000e+00 6.000e+00 1.560e+02 1.220e+02 2.807e+03 1.350e+01 7.300e+01]
 [1.000e+00 8.000e+00 3.500e+02 1.450e+02 3.988e+03 1.300e+01 7.300e+01]
 [1.000e+00 4.000e+00 1.010e+02 8.300e+01 2.202e+03 1.530e+01 7.600e+01]
 [1.000e+00 4.000e+00 7.600e+01 5.200e+01 1.649e+03 1.650e+01 7.400e+01]
 [1.000e+00 3.000e+00 8.000e+01 1.100e+02 2.720e+03 1.350e+01 7.700e+01]
 [1.000e+00 6.000e+00 2.250e+02 1.050e+02 3.121e+03 1.650e+01 7.300e+01]
 [1.000e+00 6.000e+00 2.500e+02 8.800e+01 3.139e+03 1.450e+01 7.100e+01]
 [1.000e+00 3.000e+00 7.000e+01 1.000e+02 2.420e+03 1.250e+01 8.000e+01]
 [1.000e+00 4.000e+00 1.120e+02 8.800e+01 2.395e+03 1.800e+01 8.200e+01]
 [1.000e+00 4.000e+00 1.460e+02 6.700e+01 3.250e+03 2.180e+01 8.000e+01]
 [1.000e+00 4.000e+00 9.800e+01 6.800e+01 2.155e+03 1.650e+01 7.800e+01]
 [1.000e+00 8.000e+00 4.550e+02 2.250e+02 4.425e+03 1.000e+01 7.000e+01]
 [1.000e+00 8.000e+00 3.020e+02 1.290e+02 3.725e+03 1.340e+01 7.900e+01]
 [1.000e+00 6.000e+00 2.500e+02 1.000e+02 3.278e+03 1.800e+01 7.300e+01]
 [1.000e+00 3.000e+00 7.000e+01 9.700e+01 2.330e+03 1.350e+01 7.200e+01]
 [1.000e+00 4.000e+00 9.000e+01 4.800e+01 2.085e+03 2.170e+01 8.000e+01]
 [1.000e+00 4.000e+00 1.210e+02 1.130e+02 2.234e+03 1.250e+01 7.000e+01]
 [1.000e+00 6.000e+00 1.730e+02 1.100e+02 2.725e+03 1.260e+01 8.100e+01]
 [1.000e+00 4.000e+00 1.410e+02 8.000e+01 3.230e+03 2.040e+01 8.100e+01]
 [1.000e+00 4.000e+00 1.210e+02 1.150e+02 2.795e+03 1.570e+01 7.800e+01]
 [1.000e+00 6.000e+00 2.310e+02 1.150e+02 3.245e+03 1.540e+01 7.900e+01]
 [1.000e+00 8.000e+00 3.500e+02 1.700e+02 4.165e+03 1.140e+01 7.700e+01]
 [1.000e+00 8.000e+00 3.500e+02 1.750e+02 4.100e+03 1.300e+01 7.300e+01]
 [1.000e+00 4.000e+00 1.400e+02 8.300e+01 2.639e+03 1.700e+01 7.500e+01]
 [1.000e+00 4.000e+00 1.400e+02 9.000e+01 2.264e+03 1.550e+01 7.100e+01]
 [1.000e+00 8.000e+00 4.540e+02 2.200e+02 4.354e+03 9.000e+00 7.000e+01]
 [1.000e+00 4.000e+00 9.800e+01 7.000e+01 2.120e+03 1.550e+01 8.000e+01]
 [1.000e+00 3.000e+00 7.000e+01 9.000e+01 2.124e+03 1.350e+01 7.300e+01]]

In [ ]:
# Performing K-Fold C